<br>
<div class="container">
  <div class="row">
    <div class="col-lg-12 centralizar topo" >

      <div class="card">
        <div class="card-body">
          <h3>Cadastro de Carro:</h3>
          <br>
          <mdb-form-control>
            <input mdbInput type="text" id="name" class="form-control" [(ngModel)]="vehicle.name" />
            <label mdbLabel class="form-label" for="name">Nome:</label>
          </mdb-form-control>
          <br>
          <mdb-form-control>
            <select id="vehicleType" class="form-control" [(ngModel)]="vehicle.vehicleType">
              <option value="" disabled selected></option>
              <option value="CAR">Carro</option>
              <option value="MOTORCYCLE">Moto</option>
            </select>
            <label mdbLabel class="form-label" for="vehicleType">Tipo:</label>
          </mdb-form-control>
          <br>
          <mdb-form-control>
            <input mdbInput type="select" id="chassi" class="form-control" [(ngModel)]="vehicle.chassi" />
            <label mdbLabel class="form-label" for="chassi">Chassi:</label>
          </mdb-form-control>
          <br>
          <mdb-form-control>
            <input mdbInput type="text" id="year" class="form-control" [(ngModel)]="vehicle.year" />
            <label mdbLabel class="form-label" for="year">Ano:</label>
          </mdb-form-control>
          <br>
          <mdb-form-control>
            <select id="color" class="form-control" [(ngModel)]="vehicle.color">
              <option value="" disabled selected></option>
              <option value="preto">Preto</option>
              <option value="branco">Branco</option>
              <option value="vermelho">Vermelho</option>
              <option value="azul">Azul</option>
              <option value="prata">Prata</option>
              <option value="cinza">Cinza</option>
              <option value="verde">Verde</option>
              <option value="amarelo">Amarelo</option>
            </select>
            <label mdbLabel class="form-label" for="color">Cor:</label>
          </mdb-form-control>
          <br>
          <button type="button" class="btn btn-primary btn-rounded" mdbRipple mdbRipple (click)="save()">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>
